<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <nav class="sidebar-nav">
      <a routerLink="/" routerLinkActive="active">Todo App</a>
      <a routerLink="/tasks" routerLinkActive="active">Tasks</a>
      <a routerLink="/works" routerLinkActive="active">Works</a>
      <a routerLink="/settings" routerLinkActive="active">Settings</a>
    </nav>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <router-outlet></router-outlet>
  <!-- Routed views go here -->
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
