<div class="task-detail-wrapper">
  <div *ngIf="task">
    <md-input-container class="task-input">
      <input mdInput [(ngModel)]="task.description" placeholder="概要">
    </md-input-container>
    <div>
      <label>進捗</label>
      <select [(ngModel)]="task.statusCode">
        <option *ngFor="let statusCode of statusCodeList | keys"
                [ngValue]="statusCode">
          {{statusCodeList[statusCode]}}
        </option>
      </select>
    </div>
    <button md-raised-button (click)="save()">Save</button>
    <button md-button (click)="goBack()">Back</button>
    <button md-button (click)="openDialog()">Launch dialog</button>
    You chose: {{selectedOption}}
  </div>
</div>
